@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

section{
  position: absolute;
  left: 50%;
  top: 50vh;
}

.App {
 display: flex;
 flex: 1;
}

#root{
  display: flex;
  flex: 1;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-image: linear-gradient(#00A6ED, #0D2C54);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  display: flex;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  resize: vertical;
  color: #333333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

